.form-image{
    display: contents;
    display: inline;
    width: 50%;
    height: auto;
    float: left;
}
.register-form{
    display: flex;
    display: inline;
    width: 40%;
    height: auto;
    float: left;
    padding: 3rem;
    margin-right: 3rem;
    margin-left: 4rem;
}
.card {
    display: flex;
    width: 18rem;
    height: 30rem;
    float: left;
    padding: 2rem;
    margin-top: 3rem;
    margin-left: 2rem;

  
    
}
.img{
width:10rem ;
height: 10rem;
}
.price{
    padding-top: 3rem;
    text-align: center;
    display: flex;

    
}
.sepet{
    display: flex;
    float: right;
    

}
.ball{
    margin: auto;
}

